/*Start of Consitency across all pages*/

* { box-sizing: border-box;} 

body {
  font-family: 'Nunito', sans-serif; /*main font used*/
  font-size: 16pt;
  text-align: center;
  margin: auto;
  width:100%;
  color: black;
  font-weight: bolder;
}

h1 {
  font-size: 24pt;
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin-top: -10px;
  font-family: 'Nunito', serif; 
  font-size: 18pt;
  text-align: center;
  font-weight:300;
}

h5{
  font-family: 'Nunito', sans-serif; /*main font used*/
  font-size: 18pt;
  color: #1f72aaa1;
  font-weight: bolder;
}

p {
  font-family:'Merriweather', sans-serif;/*second font for body that is similar to what is already used to keep consistency*/
}

/* start navigation  Kept consistent across all pages*/

nav {
  grid-column:1/5;
	font-family: 'Nunito semi-bold 600', sans-serif, ;
  font-size: 16pt;
	background-color: #1f72aaa1;
	color: #00060a;
  }

  nav .wrapper {/*nav wrapper renamed due to conflict within css*/
	width: 100%;
	margin: auto;
  padding: 0 15px;
  }

  nav ul {
  display:flex;
	justify-content:space-between;
  list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  nav li { display: inline; }
  
  nav li a { 
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: #191645;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  nav li a:hover { 
	background-color: #1c6494dc;
	color: #00060a;
  }
/* end navigation */

header { 
  grid-column: 1/5;
  background-color: #5fb4ecd5;
  position: center;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  height:300px;
  margin: auto;
  color:black;
  justify-content: left;
}

.wrapper img { width: 100%; }

/*Beginning of Footer*/

footer {
  text-align: center;
  grid-column:1/5;
  margin: 0 auto;
  width: auto;
  background-color: #1f72aaa1;
  color: black;
}

footer .wrapper {
  width:100%;
  margin:auto;
  padding:10px;
}
/*End of footer*/

/*End of Consitency across all pages*/

/*=============BACKGROUND IMAGES DO NOT WORK BUT KEPT THEM IN FOR REFERENCE==================*/
/*=============WILL BE COMING BACK TO THIS LATER BUT WASN'T A REQUIRMENT, JUST A "WANT"======*/
/*Start of Index CSS*/

#index body{
  background-color:  rgb(191, 234, 245);
    background-image: url(/images/beachbulb.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-width: 1px;
}
/*End of Index CSS*/

/*Start of About CSS*/

#about body{
    background-color:  rgb(191, 234, 245);
    background-image: url(/images/curlwiresonblue.jpg); /*image from unsplash*/
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-width: 1px;
}

/*End of About CSS*/
/*Start of Contact CSS*/

#contact body{
    background-color:  rgb(191, 234, 245);
    background-image: url(/images/forestmanbulb.jpg); /*image from pexels*/
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-width: 1px;
  }

  /*Contact Box*/

/*Start of Services CSS*/

#services body{
    background-color:  rgb(191, 234, 245);    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    border-width: 1px;
}

/*card deck group in "services" page*/

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card-group {    
  background-color:#5fb4ecd5;
  box-shadow: 10px 10px #176396d5;
  border: 1px solid #5fb4ecd5;
  width: 100%;
  display:flex;
  text-align: center;
}

.card-text{
  font-family: 'Nunito', sans-serif, italic; 
  color:rgba(0, 0, 0, 0.473);
}

/*Used for image sizing and orientation on services page*/


/*End of Services CSS*/

/* STYLES ----------------------------------
1. Global settings (resets such as border-box)
2. Typography (headings, paragraphs, lists, buttons)
3. Layout structure (body, header, footer, sidebar)
4. Content blocks (cards, tables, forms, calls-to-action block)
5. General classes (.clear, .center, .right, .left, .big-margin, etc.)
6. Page-specific (styles specific to individual locations)
-----------------------------------------------------*/

/* ===============
   GLOBAL SETTINGS
   =============== */

input[type="reset"] {
  color: blue;
  padding: 12px 20px;
  border: 1px solid blue;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: 1px solid blue;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(103, 153, 219);
}

/* ===============
   STRUCTURE
   =============== */

.wrapper-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
   FORM CONTROLS
   =============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

.label-required {
  font-size: 0.8rem;
  color: blue;
}

/*End of Contact CSS*/

/*Call Button*/

.call-btn {
    background-color: rgb(35, 54, 231);
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 30px 10px;
    position: fixed;
    right: 0;
    top: 30%;
    writing-mode: vertical-rl;
    border-radius: 15px 0 0 15px;
}
/*Call button End*/
