/*Start of Consitency across all pages*/

* { box-sizing: border-box;} 

body {
  font-family: 'Nunito', sans-serif; /*main font used*/
  font-size: 16pt;
  text-align: center;
  margin: auto;
  min-width: fit-content;
  min-height: fit-content;
  color: black;
  font-weight: bolder;
}

header { 
  grid-column: 1/5;
  background-color: #5fb4ecd5;
  position: static;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  color:black;
  justify-content: left;
}

/*Start of in body elements and attributes. Many are in header hence why they are here instead of lower*/

h1 {
  font-size: 24pt;
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin-top: -10px;
  font-family: 'Nunito', serif; 
  font-size: 18pt;
  text-align: center;
  font-weight:300;
}

h5{
  font-family: 'Nunito', sans-serif; /*main font used*/
  font-size: 18pt;
  color: #1f72aaa1;
  font-weight: bolder;
}

p {
  font-family:'Merriweather', sans-serif;/*second font for body that is similar to what is already used to keep consistency*/
font-size: 20pt;    
font-weight: 900;
}

/*End of in body elements and attributes*/

/* start navigation  Kept consistent across all pages*/

nav {
  grid-column:1/5;
	font-family: 'Nunito', sans-serif, ;
  font-size: 16pt;
	background-color: #1f72aaa1;
	color: #00060a;
  }

  nav .wrapper {/*nav wrapper renamed due to conflict within css*/
	width: 100%;
	margin: auto;
  padding: 0 15px;
  }

  nav ul {
  display:flex;
  align-content: center;
	justify-content:center;
  list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  nav li { display: inline; }
  
  nav li a { 
	padding: 15px;
	display: inline-block;
	text-decoration: none;
	color: #191645;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  nav li a:hover { 
	background-color: #1c6494dc;
	color: #00060a;
  }
/* end navigation */

.wrapper img { width: 100%; }

/*Beginning of Footer*/

footer {
  text-align: center;
  grid-column:1/5;
  margin: 0 auto;
  width: auto;
  background-color: #1f72aaa1;
  color: black;
}

footer .wrapper {
  width:100%;
  margin:auto;
  padding:10px;
}
/*End of footer*/

/*End of Consitency across all pages*/

/*Start of Index CSS*/

.box{
    background-image: url("images/beachbulb.jpg");/*this one works!*/
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    border-width: 1px;
    background-color:  white;
    opacity: .6;
    text-align: center;

}
/*End of Index CSS*/

/*=============BACKGROUND IMAGES DO NOT WORK BUT KEPT THEM IN FOR REFERENCE==================*/
/*=============WILL BE COMING BACK TO THIS LATER BUT WASN'T A REQUIRMENT, JUST A "WANT"======*/

/*Start of About CSS*/

.about-body {
    background-image: url("../images/curlwiresonblue.jpg"); /*image from unsplash*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    border-width: 1px;
    background-color:  white;
    opacity: .6;
    text-align: center;
    font-weight: 900;
}

/*End of About CSS*/

/*Start of Contact CSS*/

/*#contact body {
  
    background-image: url("../images/forestmanbulb.jpg"); /*image from pexels*/
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    border-width: 1px;  
    background-color: white;
  }
  */ /*THE ABOVE IS CODE i WAS GOING TO ADJUST BUT RUNNING OUT OF TIME!!!!*/

  /*Contact Box*/ 

/*Start of Services CSS*/

#services body {
    background-color:white;    
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    border-width: 1px;
}

/*card deck group in "services" page*/

.card-deck {align-content: flex-start;
  align-content: space-evenly;
  column-count:3;
  padding:20px 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-body {  
  background-color:#5fb4ecd5;
  box-shadow: 5px 5px #176396d5; 
}

.card-text{
  font-family: 'Nunito', sans-serif, italic; 
  color:rgba(0, 0, 0, 0.473); 
  text-align: center;
}

/*Used for image sizing and orientation on services page*/


/*End of Services CSS*/

/* STYLES ----------------------------------
1. Global settings (resets such as border-box)
2. Typography (headings, paragraphs, lists, buttons)
3. Layout structure (body, header, footer, sidebar)
4. Content blocks (cards, tables, forms, calls-to-action block)
5. General classes (.clear, .center, .right, .left, .big-margin, etc.)
6. Page-specific (styles specific to individual locations)
-----------------------------------------------------*/

/* ===============
   GLOBAL SETTINGS
   =============== */

input[type="reset"] {
  color: blue;
  padding: 12px 20px;
  border: 1px solid rgba(53, 53, 196, 0.589);
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: 1px solid rgba(53, 53, 196, 0.589);
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(103, 153, 219);
}

/* ===============
   STRUCTURE
   =============== */

.wrapper-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

/* ===============
   FORM CONTROLS
   =============== */

input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

.label-required {
  font-size: 0.8rem;
  color: blue;
}

/*End of Contact CSS*/

/*Call Button*/

.call-btn {
    background-color: rgb(35, 54, 231);
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 30px 10px;
    position: fixed;
    right: 0;
    top: 30%;
    writing-mode: vertical-rl;
    border-radius: 15px 0 0 15px;
}
/*Call button End*/
